
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	
}
.item{
	width: 150px;
	background-color:green;
	text-align:center;
	padding: 10px;
	margin-bottom:10px;
	
}